* {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section{
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5, 
span{
  font-family: 'Playfair Display', serif;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  font-family: 'Playfair Display', serif;
}

h1{
  font-size: 36px;
  font-weight: 800;
}
h2{
  font-size: 24px;
  font-weight: 700;
}
h3{
  font-size: 20px;
  font-weight: 600;
}
h4{
  font-size: 18px;
  font-weight: 500;
}
h5{
  font-size: 16px;
  font-weight: 400;
}
h6{
  font-size: 14px;
  font-weight: 300;
}

img{
  width: 100%;
  height: auto;
}
body{
  overflow: hidden;
  background: #000000f5;
}

#container-content-page{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

 /* scroll */


 ::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #36363a;
}